body {
  background-color: #ffffff;
  font-family: Arial, Helve5tica, sans-serif;
  font-size: 24px;
   }
   
 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
 } 
 
 
 
 .responsive {
  max-width: 90%;
  height: auto;
}

 a {
	 color:white;
	 background-color:transparent;
	 text-decoration:none;
	/* padding:10px;*/
 }

 
 #bios {
	 text-align: center;
	 color: black;
	 background-color: white;
     font-weight: bold;
 }


#logo{
  width: 632px;
  max-width: 100%;
  height: 123px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

  
#bandimg {
            width: 500Px;
			height:auto;
			max-width: 90%;
			float:left;
			padding-right: 10px;
			padding-bottom: 5px;
		 }
		 
#playerimg {
	width:199px;
	height: auto;
	max-width: 90%;
	float:left;
	border: 5px solid black;
	margin-right: 10px;
}

		 
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}

.flex-container > .bandinfo {
  max-width: 70%;
  margin-right: 30px;
}
  
 .flex-container > .playerinfo {
	max-width: 70%;
    padding-right:10px;	
 }

.flex-container > .menu {
    max-width: 26%;
	background-color: black;
	border-style:solid;
	font-color: white;
	font-size: 20px;
	a:hover {background-color: gray;}
}


.socialmedia {
background-color: #ffffff;
width: 100px;
max-width: 50%;
}

