 
body {
  background-color: #f5f5f5;
  font-family: Arial, Helve5tica, sans-serif;
  font-size: 1.3em;
  }

.heading {
text-align: center;
}


  .ribbon{
  background-color: #e60000;
  border-style: solid;
  border-color: black;
  border-width; 15px;
}
 
 
#dropbtn {
  background-color: #e60000;
  color: black;
  padding: 10px 25px 10px 25px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

 

.dropdown {
  position: relative;
  display: inline-block;
  }
 

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  color: white;
  min-width: 160px;
  padding: 10;
  z-index: 1;
  }

.dropdown-content a {
  background-color: black;
  color: white;
  padding: 12px 25x;
  text-decoration: none;
  display: block;

}

.dropdown-content a:hover {background-color: #c2bdbc}

.dropdown:hover .dropbtn {
  background-color: #c22d08;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.audio-description {
font-size: 13px;
font-style: italic;
font-color: white;
}

a:hover {
  background-color: gray;
}

 
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom:5px;
  }

.playertxt {
   font-color: black;
  }


.leftcolumn {
  float: left;
  height: auto;
  width: 48vw;
  padding: 10 10 10 10;
  }

  
.playerimg {
height:300;
width:200;
margins-left: 10%;
float: left;
padding: 10 10 5 25;
}

.bandimg {
height:300;
margins-left: 10%;
float: left;
padding: 25 25 5 25 ;
}

.socialmedia {
display: block;
background-color: transparent;
margin-left: auto;
margin-right:auto;
width: 10%;
padding: 5 0 5 0;
}

#small-player {
width:140px;
height: 25px;
background-color: black;
}

 

 

 



 





